
@media screen and (max-width: 1042px) {
    .action_order {
        max-width: 100%;
    }
    .section_search_location img{
        max-width: 105px;
    
    }

}
@media screen and (max-width: 999px) {
    .image_section_mobile_app {
        grid-row: 2;
        grid-column: 1 span;
        margin-top: 4rem;
  
    }
    .image_section_mobile_app img {
        top: -17px;
      
    }
    .content_section_mobile_app {
        grid-column: 2 span;
    }
    .content_section_mobile_app h4 {
        font-size: 36px;
    }
    .content_section_mobile_app p {
        font-size: 15px;
    }
    .content_search_location h6 {
        font-size: 32px;

    }

}
@media screen and (max-width: 883px){
    .header-bottom  {
        margin-top: 2rem;
    }
    
    .fixed_box_delivery{
        top: -1rem;
        left: -5rem;
        padding: 6px;
        line-height: 1;

    }

    .action_order {
        gap: 1.5rem;
        justify-content: flex-start;
    }
    .action_order > button {
        padding: 16px;
        font-size: 14px;
    }
    .action_order > button svg {
        margin-right: 5px;
        margin-top: -3px;
    }
    .button_action_order {
        max-width: 54%;
        /* min-width: 25%; */
        padding: 5px 10px;
        gap: 2px;

    }
    .fixed_box_delivery div span{
        font-size: 19px;
    }
    .fixed_box_delivery > span{
        font-size: 12px;

    }

}
@media screen and (max-width: 834px) {
    .navigation {
        grid-template-columns: repeat(3, auto);
    }
   .navigation > ul {
    display: none;
   }
   .content_left_header_bottom h1 {
        font-size: 34px;
        line-height: 50px;
    }
    .section_food {
        margin-top: 4rem;
    }
    .order_food {
        margin-top: 2rem;
    }
    .link-navigation {
        justify-self: center;
    }
    .menue-icon {
        justify-self: flex-end;
    }
    .section_search_location img{
        max-width: 74px;
    
    }
    .grid_section_footer {
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
    }
    .grid_section_footer .link_footer:nth-child(2) {
        justify-self: center;
    }
    .info_site_footer {
        grid-row: 2;
        grid-column: 2 span;
        justify-self: center;
        margin-top: 3rem;
    }
    .logo_footer h6 {
        text-wrap: nowrap;
    }
}
@media screen and (max-width: 676px) {
    .header-bottom  {
        grid-template-columns: repeat(1,1fr);

    }
    .content_left_header_bottom p{
        max-width: 100%;
        margin: 1.5rem 0;
 
      
    }
    .content_left_header_bottom  {
        text-align: center ;
        width: 100%;

    }  
    .order_food {
        margin-top: 3rem;
    }  
    .order_food_desctop {
        display: none;
    }
    .action_order > button, .button_action_order {
        padding: 8px 16px;
    }
    .action_order > button svg {
        font-size: 19px;
        margin: 0 9px 0 0 ;
    }
    .fixed_box_delivery{
        position: static;
        width: 30%;

    }

    .section_mobile_app {
        max-width: 100%;
        border-radius: 500px 500px 0 0;
    }
    .content_section_mobile_app {
        margin-top: 6rem;
        text-align: center;
    }
    .content_section_mobile_app p {
        max-width: 100%;
    }
    .image_section_mobile_app {
        grid-column: 2 span;
        justify-self: center;
    }
    .image_section_mobile_app img {
        max-width: 200px;
        top: -14px;
    }
    .content_search_location h6 {
        font-size: 25px;

    }
    .content_search_location p {
        font-size: 12px;

    }
    .content_search_location form {
        width: 90%;
    }
 }

 @media screen and (max-width: 602px){
    .right_item_food_off img,
    .second_item_food_off .right_item_food_off img {
        right: 0;    
    }
 }
 @media screen and (min-width: 677px) {
 
    .order_food_mobile {
        display: none;
    }
 }
@media screen and (min-width: 835px) {
    .menue-icon {
     display: none;
    }
     
}
@media screen and (max-width: 550px) {
    .content_search_location {
        text-align: center;
    }
    .content_search_location form {
        height: 49px;
    }
    .content_search_location form button {
        top: 9%;
    }
    .content_search_location form input::placeholder{
        font-size: 12px;
    }
    .section_search_location img:last-child{
        top: 7%;
    }
}